body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name {
    font-size: 2rem;
    font-weight: bold;
}

.header__photo {
    padding-top: .5rem;
    height: 10rem;
}

.code {
    width: max-content;
    background-color: lightgrey;
    border-radius: 1vw;
}

.code-legend {
    padding: .5vmax;
    border: solid 1px;
    border-radius: 1vw;
    background-color: rgb(172, 172, 172);
}

.code-sample {
    white-space: pre-wrap;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__date {
    padding: .5rem;
    color: darkgray;
    font-family: monospace;
    font-weight: bold;
}
